<canvas id="canvas" height="700" width="1500"></canvas>

<div id="chat-text" style="width:500px;height:100px;overflow-y:scroll">
    <div>Hello</div>
</div>

<form id="chat-form" autocomplete="off">
    <input id="chat-input" type="text" style="width:500px"></input>
</form>

<% scripts.forEach(function(script){%>
   <script src="<%= script %>"></script>
<% }); %>